[core]
	editor = nvim
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[push]
	autoSetupRemote = true

[branch]
	autosetuprebase = always

[alias]
  jump = "!$(brew --prefix git)/share/git-core/contrib/git-jump/git-jump"

[diff]
  tool = nvim_difftool
	 # needs packadd difftool in neovim

[difftool "nvim_difftool"]
 	cmd = nvim -c \"DiffTool $LOCAL $REMOTE\"
	 # use it for prs as well: git difftool -d main
