NuGet
code-server
codesandbox
configstore
containers
fish
gatsby
gcloud
gh
gh-copilot
github-copilot
gtk-2.0
jgit
kitty
kleiner-brauhelfer
nvim.bak
raycast
simple-update-notifier
yarn
zed
iterm2

.DS_Store
